
.footer {
    border-top: 1px solid #D8D8D8;
    padding-top: 20px;

    &__container {
        display: flex;
        align-items: center;
        justify-content: space-between;
        max-width: 1080px;
        width: 100%;
    }

    &__logo {
        height: 20px;
        padding: -15px;
    }

 
    &__a {
        text-decoration: none;
        display: inline;
        
        &:visited {
            color: #585a80ae;
        }
    
        &:hover {
            color: #4A4FF2;
            transform: scale(1.01);
        }
    }

    &__so-me {
        display: flex;
        justify-content: space-between;
        max-width: 100px;
        width: 100%;
    }
}


li {
    list-style-type: none;
    display: inline-flex;
    margin-left: 20px;
}

