.index__projects {
    display: grid;
    grid-template-rows: repeat(32, 60px);
    grid-template-columns: repeat(3, 1fr);
    column-gap: 15px;
    row-gap: 2px;
    width: 1110px;
    height: 1960px;

}

.projects-1 {
    grid-row: 1 / 8;
    grid-column: 1 / 2;
}

.projects-2 {
    grid-row: 1 / 7;
    grid-column: 2 / 3;
}

.projects-3 {
    grid-row: 1 / 11;
    grid-column: 3 / 4;
}

.projects-4 {
    grid-row: 8 / 16;
    grid-column: 1 / 2;
}

.projects-5 {
    grid-row: 7 / 14;
    grid-column: 2 / 3;
}

.projects-6 {
    grid-row: 11 / 18;
    grid-column: 3 / 4;
}

.projects-7 {
    grid-row: 16 / 24;
    grid-column: 1 / 2;
}

.projects-8 {
    grid-row: 14 / 23;
    grid-column: 2 / 3;
}

.projects-9 {
    grid-row: 18 / 27;
    grid-column: 3 / 4;
}

.projects-10 {
    grid-row: 24 / 32;
    grid-column: 1 / 2;
}

.projects-11 {
    grid-row: 23 / 32;
    grid-column: 2 / 3;
}

.projects-12 {
    grid-row: 27 / 32;
    grid-column: 3 / 4;
}
