body {
    display: flex;
    flex-direction: column;
    max-width: 1110px;
    width: 100%;
    margin: auto;
}



.services {
    display: grid;
    grid-template-columns: 635px 44px 200px 200px;
    margin-top: 50px;
    margin-bottom: 50px;

        
    &__info {
        grid-column: 1 / 2;
    }

    &__list-1 {
        grid-column: 3 / 4;
    }

    &__list-2 {
        grid-column: 4 / 5;
    }


}

.awards__container {
    display: grid;
    grid-template-rows: repeat(2, 412px)
}

.awards__awwwards {
    border-top: 1px solid #D8D8D8;
    padding-bottom: 50px;
    display: grid;
    grid-template-rows: repeat(2, 206px);
    grid-template-columns: repeat(5, 222px);

    // ADD TWO MORE ROWS DIFFERENT HEIGHTS ETC...
}

.awwwards__title {
    grid-row: 1 / 2;
    grid-column: 1 / 2;
}

.awwwards__nomination-1 {
    grid-row: 1 / 2;
    grid-column: 3 / 4;

}

.awwwards__nomination-

.awwwards__nomination-

.awwwards__nomination-

.awwwards__nomination-

.awwwards__nomination-

.awards__cssdawards {
    border-top: 1px solid #D8D8D8;
}